<!DOCTYPE html>
<html>
  <head>
    <title>multi-db</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
      :root {
        --content-max-width: 750px;

        --charcoal: rgb(20, 20, 20);
        --purple: rgb(150, 100, 200);
        --purple-faded: rgb(150, 100, 200, .1);
        --tan: rgb(255, 240, 230);

        --body-bg: var(--tan);
        --body-fg: var(--charcoal);
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --body-bg: rgb(25, 30, 45);
          --body-fg: rgb(255, 255, 255);
        }
      }
      html, body {
        font-family: system-ui, -apple-system, Roboto, "Helvetica", "Arial", sans-serif;
        margin: 0;
        padding: 0;
      }
      @supports (font-variation-settings: normal) {
        html, body {
          font-family: system-ui, -apple-system, Roboto, "Helvetica", "Arial", sans-serif;
        }
      }
      body {
        background-color: var(--body-bg);
        color: var(--body-fg);
        font-size: 24px;
        line-height: 36px;
        text-rendering: optimizelegibility;
        -webkit-font-smoothing: antialiased;
      }
      a {
        border-bottom: 1px solid var(--purple);
        color: var(--body-fg);
        text-decoration: none;
        transition: all .1s;
      }
      a:hover {
        border-bottom: 2px solid var(--purple);
        color: var(--purple);
      }
      .container {
        margin: 3rem;
        max-width: var(--content-max-width);
      }
      @media (max-width: 1000px) {
        .container {
          margin: 2rem;
        }
      }
      @media (max-width: 600px) {
        body {
          font-size: 18px;
          line-height: 30px;
        }
        .container {
          margin: 1rem;
          max-width: 92.5%;
          width: 1000px;
        }
      }
      ul {
        list-style-type: none;
        padding-inline-start: 0;
      }
      li {
        margin: 10px 0;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
